body {
  margin: 20px;
  background-color: #666699;
  color: white;
}

code {
  background: #d0d0d5;
}

canvas {
  border: 4px;
  border-style: solid;
  border-color: white; 
  background-color: grey;
  margin: auto;
}

.container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 800px) {
  .container {
    flex-direction: row;
  }
}
